<!-- 

<footer>
    <div class="content">
        You can make your payment by having the money taken directly from your checking or savings account, or you can charge it to your credit card.
         We accept Visa, Mastercard, Discover Cards and American Express.
          Your trash hauler will not see any of this information, and will only be notified that you have made a payment
    <div class="logo">..</div>
    <nav>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
    </div>
  </footer> -->

  {% include 'nav.html' %}

  {% block content %}
 
  <div className="contacts">
    <div>Dipankar Inn & Restaurant</div><span>|</span>
    <div>Dhalko, Kathmandu, Nepal</div><span>|</span>
    <div>
        <a href="tel:+9779849596133">+977 9849596133</a> ,
        <a href="tel:+977014254194"> +977 01 4254194</a>
    </div><span>|</span>
    <div><a href="https://goo.gl/maps/na53a5p4AkK2" target="blank">Find us on google map</a></div>
</div>
{% endblock %}