{% extends 'index.html' %}
{% block content %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/home.css" />
        <!-- <script type="text/javascript" src="static/js/home.js" ></script> -->
    </head>
        <body>
            <div class="slider-holder">
                <span id="slider-image-1"></span>
                <span id="slider-image-2"></span>
                <span id="slider-image-3"></span>
                <div class="image-holder">
                    <img src="static/img/1.jpg" class="slider-image" />
                    <img src="static/img/2.jpg" class="slider-image" />
                    <img src="static/img/3.jpg" class="slider-image" />
                </div>
                <div class="button-holder">
                    <a href="#slider-image-1" class="slider-change"></a>
                    <a href="#slider-image-2" class="slider-change"></a>
                    <a href="#slider-image-3" class="slider-change"></a>
                </div>
            </div>
        </body>
</html>

{% endblock %}
