<!-- {% block content %}  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/login.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Muli:400,700">
    <title>Document</title>
</head>
<body>
    <!-- {% load static %} -->
    <div class="container">
        <div id="logo"><h1 class="logo">Safaa Sahar.</h1>
          <div class="CTA">
            <h1>Save environment</h1>
            </div>
        </div>
        <div class="leftbox">
          
        </div>
        <div class="rightbox">
          <div class="profile">
            <form method="post">
              {% csrf_token %}
              <form method="post" action="Templates/payment.html">
            <h2>House no.</h2>
            <p><input type="text" name="houseNo"/></p>
            <h2>Owner's name</h2>
            <p><input type="text" name="name"/></p>
            <h2>Password</h2>
            <p><input type="password" name="password"/></p>
            <div class="custom_button"><a href="{% url 'payment' %}">
              Login
             </a></div>
              <!-- {{ form.as_p }} -->
             
            </form>
            
          </div>  
        </div>
      </div>
      
   
</body>
</html>

<!-- {% endblock %} -->
